#nav-buttons {
    padding-top: 20px;
}

.reward-screen {
    padding: 1rem;
}

.reward-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.member-card {
    background-color: white;
    border: 1px solid #eee;
    padding: 1rem;
    border-radius: 10px;
    min-width: 250px;
    height: 175px;
    padding: 1rem;
    position: relative;
    z-index: 0;
    text-align: center;
    box-shadow: 
        -2px -2px 5px #F3E8FF,
        2px 2px 5px #C9F2E3;
}

.member-name {
    font-weight: bold;
    font-size: 1.1rem;
}

.member-points {
    font-size: 0.9rem;
    color: #666;
}
.reward-container {
    height: 200px;
    border: 1px solid #eee;
    box-shadow: 
        -2px -2px 5px #F3E8FF,
        2px 2px 5px #C9F2E3;
    margin: 20px;
    padding: 20px;

}
.reward-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.reward-card {
    background-color: white;
    border: 1px solid #eee;
    padding: 1rem;
    width: 225px;
    border-radius: 10px;
    box-shadow: 
      -2px -2px 5px #FAF8FF,
      2px 2px 5px #F3E8FF;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reward-title {
    font-weight: 600;
}

.reward-points {
    font-size: 0.85rem;
    color: #333;
}

@media (max-width: 767px) {
    #annual-chores {
        margin-top: 10px;
    }
}
