<div class="container mt-2">
    
    <button class="btn btn-danger" (click)="logout()">Logout</button>
    <button routerLink="/yearly" class="btn btn-primary">Yearly To-Do</button>

    <hr>

    <div class="row">
        <div class="col-lg-9">
            <app-calendar></app-calendar>
        </div>
        <div class="col-lg-3">
            <app-to-do-list></app-to-do-list>
        </div>
    </div>
    <div class="row mt-4">
        <app-meal-planner></app-meal-planner>
    </div>

</div>

