<div class="row justify-content-between align-items-center">
    <div class="col-lg-6"><app-nav></app-nav></div>
    <div class="col-lg-6" style="text-align: center;">
        <button class="btn btn-outline-secondary" (click)="editChore(null)" style="margin-right: 5px;">Add Chore</button>
        <button class="btn btn-outline-secondary" routerLink="/chore" style="margin-right: 5px;">Back to Chores</button>
        <button class="btn btn-outline-secondary" routerLink="/rewards" style="margin-right: 5px;">Rewards</button>
    </div>
</div>


<h5 style="text-align: center;">Annual Chores</h5>
<div class="month-bucket" *ngFor="let month of months">
    <div class="bucket-title">{{ month }}</div>
    <div class="chore-bucket-list">
        <div
            *ngFor="let chore of getChoresForMonth(month)"
            class="chore-card-wrapper"
        >
            <app-chore-card
                [chore]="chore"
                (edit)="editChore($event)"
            ></app-chore-card>
        </div>
    </div>
</div>

<app-chore-modal
    *ngIf="openModal"
    [chore]="selectedChore"
    (close)="openModal = false"    
></app-chore-modal>
