<div class="container-fluid">
    <div class="row" id="toDoTitle">
        <div>
            <h3>To-Do List:</h3>
        </div>
    </div>
    <div class="row" id="to-do-container">
        <div *ngFor="let item of toDoItems" class="to-do-items" (click)="editItem(item)">
            <label [style.color]="getColorForUid(item.assignedUser!) || 'grey'">
                <input type="checkbox" [(ngModel)]="item.complete" (click)="$event.stopPropagation()"/>
                <span [ngStyle]="{ 'text-decoration': item.complete ? 'line-through' : 'none' }">
                    {{item.title }}
                </span>
            </label>
        </div>
    </div>
    <div class="row mt-2 align-items-center">
        <div class="col-5">
            <button class="btn btn-primary w-100" (click)="openModal()">Add Item</button>
        </div>
        <div class="col-7 d-flex justify-content-end">
            <button class="btn btn-danger" style="white-space: nowrap;" (click)="deleteCompleted()">Delete Checked</button>
        </div>
    </div>
</div>

<div *ngIf="showModal">
    <app-chore-modal
    (close)="closeModal()"></app-chore-modal>
</div>
