<div class="fixed-top bg-white">
    <div class="container-fluid">
      <div class="row">
        <app-nav></app-nav>
      </div>
    </div>
</div>

<div class="to-do-list">
    <div id="to-do-title">
        <div>
            <h2>To-Do List:</h2>
        </div>
        
    </div>
    <div id="to-do-container">
        <div *ngFor="let item of toDoItems" class="to-do-items">
            <input type="checkbox" [(ngModel)]="item.complete" (click)="$event.stopPropagation()" (change)="toggleComplete(item)" />
            <span [ngStyle]="{ 'text-decoration': item.complete ? 'line-through' : 'none' }" (click)="editItem(item)">
                {{ item.title }}
            </span>
        </div>
    </div>
    <div class="row mt-3 align-items-center">
        <div class="col-5">
            <button class="btn btn-primary w-100" (click)="openModal()">Add Item</button>
        </div>
        <div class="col-7 d-flex justify-content-end">
            <button class="btn btn-danger" style="white-space: nowrap;" (click)="deleteCompleted()">Delete Checked</button>
        </div>
    </div>
</div>

<div *ngIf="showModal">
    <app-chore-modal
        [chore]="editingItem"
        (close)="closeModal()"
    ></app-chore-modal>
</div>
