<div class="modal-backdrop">
    <div class="modal-content-wrapper">
        <div class="modal-header">
            <h5 class="modal-title">{{ formReward.id ? 'Edit Reward' : 'Add Reward'}}</h5>
            <button type="button" class="btn-close" (click)="onClose()">x</button>
        </div>

        <div class="modal-body">
            <div class="mb-3">
                <label for="rewardTitle" class="form-label">Title</label>
                <input id="rewardTitle" class="form-control" [(ngModel)]="formReward.title" />
            </div>

            <div class="mb-3">
                <label for="rewardPoints" class="form-label">Points</label>
                <input type="number" id="rewardPoints" class="form-control" [(ngModel)]="formReward.points" />
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-secondary" (click)="onClose()" style="margin-right: 10px;">Cancel</button>
            <button class="btn btn-primary" (click)="save()" style="margin-right: 10px;">{{ formReward.id ? 'Update Reward' : 'Add Reward'}}</button>
            <button *ngIf="formReward.id" class="btn btn-danger me-auto" (click)="deleteReward()" style="margin-right: 10px;">Delete</button>
        </div>
    </div>
</div>
