html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body {
  font-family: 'Comfortaa', sans-serif;
  background-color: #F3E8FF;
  color: #6C5A78;
  padding: 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.btn-outline-secondary {
    color: #6C5A78;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 
        -2px -2px 5px #F3E8FF,
        2px 2px 5px #C9F2E3;
}
.btn-outline-secondary:hover {
    background-color: #F3E8FF;
    border: #F3E8FF;
}
