<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="card shadow p-4" style="min-width: 300px; max-width: 400px; width: 100%">
        <h2 class="text-center mb-4">Login</h2>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input [(ngModel)]="email" type="email" id="email" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input [(ngModel)]="password" type="password" id="password" class="form-control" />
        </div>

        <div class="mb-3 d-flex align-items-center justify-content-between">
            <label>
            <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe" />
                Remember Me
            </label>

            <button routerLink="/register" class="btn btn-link">Register Family</button>
        </div>
        

        <button class="btn btn-primary w-100" (click)="login()">Login</button>

        <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
            {{ error }}
        </div>
    </div>
</div>


