<div *ngIf="!(user$ | async)">
    <h2>Login</h2>

    <form (ngSubmit)="login()">
        <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
        <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
    </form>

    <p *ngIf="error" style="color: red">{{ error }}</p>
</div>


<div *ngIf="user$ | async as user">
    <div class="row">
        <div class="col-sm-2" style="transform: translateX(30px);">
            <button class="btn btn-danger" (click)="logout()" style="transform: translate(-16px, 8px);">Logout</button>
        </div>
    </div>
    
    
    <div class="row" id="top-container" style="margin-top: 5px; padding-right: 5px; padding-left: 10px;">
        <div class="col-sm-8">
            <app-calendar></app-calendar>
        </div>
        <div class="col-sm-4">
            <app-to-do-list></app-to-do-list>
        </div>
    </div>

    <div class="row" style="text-align: center;">
        <h1>Weekly Meals</h1>
        <app-meal-planner></app-meal-planner>
    </div>
    
</div>


