.comment-section {
  display: flex;
  justify-content: center;
}
.hero-section {
  padding-top: 1rem;
  height: 80vh;
  display: flex;
  justify-content: center;
}

/*
lavendar: #F3E8FF;
soft white base: #FAF8FF;
mint: #C9F2E3;
text color: #6C5A78;
*/
