#links a {
  color: blue;
}
#links a:hover {
  text-decoration: underline;
}
#contact a {
  color: blue;
}
#contact a:hover {
  text-decoration: underline;
}
.footer {
  margin-left: 10px;
  margin-right: 10px;
}
#contact {
  display: flex;
  justify-content: center;
  text-align: center;
}
