#links a {
  color: blue;
}
#links a:hover {
  text-decoration: underline;
}
.footer {
  margin-left: 10px;
}
#contact {
  justify-content: end;
  margin-right: 20px;
}
#contact a {
  color: blue;
}
#contact a:hover {
  text-decoration: underline;
}
