img {
  width: 120px;
}
.navbar {
  background: #FAF8FF;
  padding: 0.5rem 1rem;
}
.nav-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
}
.hamburger {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #6C5A78;
  display: block;
}
.register-btn {
  margin-left: auto;
}
.nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  background: #FAF8FF;
  padding: 1rem;
  position: absolute;
  top: 60px;
  right: 10px;
  border: 1px solid #F3E8FF;
  border-radius: 10px;
}
.nav-links.open {
  display: flex;
}
.nav-links li {
  margin: 0.5rem 0;
}
.nav-links a {
  color: #6C5A78;
  text-decoration: none;
}

@media (min-width: 768px) {
  /* adjust both img and .register-btn to keep links in the middle of the page */
  img {
    width: 150px;
  }
  .register-btn {
    width: 150px;
  }

  .hamburger {
    display: none;
  }
  .register-btn {
    margin-left: 0;
  }
  .nav-links {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    position: static;
    background: none;
    padding: 0;
    border: none;
  }
  .nav-links li {
    margin: 0 1rem;
  }
}
