<nav class="main-nav" *ngIf="subStatus$ | async as subStatus">
    <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/home">
                <i class="fas fa-calendar-alt"></i>
                <span>Calendar</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/chore" [class.disabled]="subStatus === 'free' || subStatus ==='expired'">
                <i class="fas fa-broom"></i>
                <span>Chores</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/meal-planner" [class.disabled]="subStatus === 'free' || subStatus === 'expired'">
                <i class="fas fa-utensils"></i>
                <span>Meal Planner</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/shopping" [class.disabled]="subStatus === 'free' || subStatus === 'expired'">
                <i class="fas fa-shopping-cart"></i>
                <span>Groceries</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/manage">
                <i class="fas fa-users-cog"></i>
                <span>Manage Family</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <button class="logout-bth" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </button>
        </li>

    </ul>
</nav>




