<div class="tab-content"></div>
<ng-container *ngIf="subStatus$ | async as subStatus">
    <div class="tab-container">
        
        <!-- logout button -->
        <div 
            class="tab"
            style="background: rgba(255, 0, 0, 0.25);"
        >
            <button class="button" (click)="logout()">Logout</button>
        </div>

        <!-- subscribe button -->
        <div class="tab" routerLinkActive="active">
            <button class="button" routerLink="/manage">Manage Family</button>
        </div>

        <div class="spinner" *ngIf="loading"></div>

        <!-- calendar button -->
        <div
            class="tab"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <button class="button" routerLink="/home">Calendar</button>
        </div>

        <!-- chore button -->
        <div class="tab" routerLinkActive="active">
            <button 
                class="button" 
                routerLink="/chore"
                [disabled]="subStatus === 'free' || subStatus === 'expired'"
                [class.disabled]="subStatus === 'free' || subStatus === 'expired'"    
            >
                Chores
            </button>
        </div>

        <!-- meal-planner button -->
        <div class="tab" routerLinkActive="active">
            <button 
                class="button" 
                routerLink="/meal-planner" 
                [disabled]="subStatus === 'free' || subStatus === 'expired'"
                [class.disabled]="subStatus === 'free' || subStatus === 'expired'" 
            >
                Meal Prep
            </button>
        </div>

        <div class="tab" routerLinkActive="active">
            <button 
                class="button" 
                routerLink="/shopping"
                [disabled]="subStatus === 'free' || subStatus === 'expired'"
                [class.disabled]="subStatus === 'free' || subStatus === 'expired'" 
            >
                Groceries
            </button>
        </div>
    </div>
</ng-container>




