<div class="container-fluid mt-2">
    
    <button class="btn btn-danger" (click)="logout()">Logout</button>
    <button routerLink="/yearly" class="btn btn-primary" style="margin-left: .5em;">Yearly To-Do</button>
    <button class="btn btn-primary" style="margin-left: .5em;">Weekly Meeting</button>
    <button routerLink="/meals" class="btn btn-primary" style="margin-left: .5em;">Meal Prep</button>
    <button routerLink="/shopping" class="btn btn-primary" style="margin-left: .5em;">Grocery List</button>


    <hr>

    <div class="row">
        <div class="col-lg-9">
            <app-calendar></app-calendar>
            <div id="goals">
                <app-goals></app-goals>
            </div>
        </div>
        <div class="col-lg-3">
            <app-to-do-list></app-to-do-list>
        </div>
    </div>

    

</div>

