.btn-outline-secondary {
    color: #6C5A78;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 
        -2px -2px 5px #F3E8FF,
        2px 2px 5px #C9F2E3;
}

#nav-container {
  margin-left: 20px;
}

.week-scroll-container {
  overflow-x: auto;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.week-scroll-container::-webkit-scrollbar {
    display: none;
}

.week-header,
.week-row {
  display: grid;
  grid-template-columns: 60px repeat(7, 1fr); /* 1 time column, 7 day columns */
  align-items: start;
  gap: 8px;
}
.week-row {
  min-height: 60px; /* or whatever you want per hour */
  position: relative;
}

.week-header {
    height: 60px;
}
.all-day-row {
  height: 200px;
  display: grid;
  grid-template-columns: 60px repeat(7, 3fr);
  align-items: start;
  gap: 8px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 
      -2px -2px 5px #F3E8FF,
      2px 2px 5px #C9F2E3;
}
.all-day-cell {
  height: 200px;
}


.time-column {
  text-align: left;
  height: 60px;
  font-size: 0.75rem;
  padding-left: 8px;
}

.day-header {
  text-align: center;
  font-weight: bold;
  padding: 4px;
  /* background: #f8f9fa; */
  /* border: 1px solid #eee; */
}

.day-cell {
  position: relative;
  border-right: 1px solid #eee;
  padding: 0; /* important */
  overflow: visible;
  height: 60px; /* or same as .week-row height */
  
  border-radius: 10px;
  box-shadow: 
      -2px -2px 5px #F3E8FF,
      2px 2px 5px #C9F2E3;
}

.event-block {
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  color: white;
  font-size: 0.75rem;
  border-radius: 4px;
  padding: 2px 4px;
  box-sizing: border-box;
}

.event-block.all-day {
    position: relative;
    height: auto;
    top: 0;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 0.75rem;
    color: withe;
}

@media (max-width: 767px) {
  .week-header,
  .week-row {
    min-width: 900px;
  }
}



