<div class="container-fluid">
    <div class="row" id="toDoTitle">
        <div>
            <h3>To-Do List:</h3>
        </div>
    </div>
    <div class="row" id="to-do-container">
        <div *ngFor="let item of toDoItems" class="to-do-items" (click)="editItem(item)">
            <label [style.color]="USER_COLORS[item.uid] || 'grey'">
                <input type="checkbox" [(ngModel)]="item.completed" (click)="$event.stopPropagation()"/>
                <span [ngStyle]="{ 'text-decoration': item.completed ? 'line-through' : 'none' }">
                    {{item.title }}
                </span>
            </label>
        </div>
    </div>
    <div class="row mt-2 align-items-center">
        <div class="col-5">
            <button class="btn btn-primary w-100" (click)="openModal()">Add Item</button>
        </div>
        <div class="col-7 d-flex justify-content-end">
            <button class="btn btn-danger" style="white-space: nowrap;" (click)="deleteCompleted()">Delete Checked</button>
        </div>
    </div>

</div>


<!-- modal for adding/editing items -->
<div class="modal" tabindex="-1" [class.show]="showEventModal" [style.display]="showEventModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" *ngIf="showEventModal">
        <h5>{{ editingItem ? 'Edit To-Do' : 'Add To-Do' }}</h5>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="toDoTitle" class="form-label">Title</label>
          <input id="toDoTitle" class="form-control" [(ngModel)]="newToDoTitle" />
        </div>
        <div class="mb-3">
          <label for="toDoUser" class="form-label">Assign to</label>
          <select id="toDoUser" class="form-select" [(ngModel)]="selectedUserId">
            <option [ngValue]="null">Unassigned</option>
            <option *ngFor="let user of users" [ngValue]="user.uid">{{ user.name }}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="showEventModal = false">Cancel</button>
        <button class="btn btn-primary" (click)="editingItem ? updateToDo() : saveToDo()">
          {{ editingItem ? 'Update' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>