#to-do-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  max-width: 600px;
  margin: auto;
}

.to-do-items {
  background: linear-gradient(to bottom, white 34px, #d3d3d3 35px);
  background-size: 100% 35px;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 35px;
  padding-right: 10px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

#toDoTitle {
  margin-top: 60px;
}

@media (max-width: 767px) {
  #toDoTitle {
    margin-top: 30px;
  }
}

