.chore-card {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    border: 2px outset #ddd;
    border-radius: 6px;
    background-color: #fff;
    width: 14rem;
    height: 100px;
}

.chore-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
}

.edit-overlay {
    position: absolute;
    inset: 0;
    cursor: pointer;
    z-index: 1;
}