.chore-card {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: white;
    width: 14rem;
    height: 100px;
    box-shadow: 
      -2px -2px 5px #FAF8FF,
      2px 2px 5px #F3E8FF;
    color: #6C5A78;
}

.chore-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
}

.edit-overlay {
    position: absolute;
    inset: 0;
    cursor: pointer;
    z-index: 1;
}