.btn-group {
  border: 1px solid gray;
}
.switch-view-button {
  width: 100px;
  height: 30px;
  border: none;
  background: white;
  border-radius: 10%;
}

.switch-view-button:hover {
  border: none;
  background-color: #6c757d;
  color: white;
}


