h2 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
/* #list-container {
  padding-top: 60px;
} */

.itemContainer {
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  margin-top: 80px;
  box-shadow: 
        -2px -2px 5px #F3E8FF,
        2px 2px 5px #C9F2E3;
}

.items {
  background: linear-gradient(to bottom, white 34px, #d3d3d3 35px);
  background-size: 100% 35px;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 35px;
  padding-right: 10px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}