.month-view {
    display: flex;            
    flex-direction: column;
    font-family: sans-serif;
}
.header-row, .week-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* sets the number of columns for display - changing to 8 creates a blank column on the right. */
                                           /* used in conjuction with for days in week in the month-view.component.ts file */
}
.day-name, .day-cell {
    padding: 8px;
    text-align: center;
    border: 1px solid #eee;
}
.day-cell {
    height: 150px;
}
.date-number {
    text-align: right;
}
.event-pill {
    text-align: left;
}
.day-cell {
    cursor: pointer;
}
.day-cell.today{
    background-color: #d1e7dd;
    font-weight: bold;
}

@media (max-width: 767px) {
    .day-name, .day-cell {
        width: 60px;
    }

    .day-cell {
        height: 100px;
    }
}