<div class="row justify-content-between align-items-center">
    <div class="col-6"><app-nav></app-nav></div>
    <div class="col-6" style="text-align: center;">
        <button class="btn btn-outline-secondary" (click)="openModal = true; selectedChore = null" style="margin-right: 5px;">Add Chore</button>
        <button class="btn btn-outline-secondary" style="margin-right: 5px;" routerLink="/annual-chore">Annual Chores</button>
        <button class="btn btn-outline-secondary" style="margin-right: 5px;">Rewards (Coming Soon)</button>
    </div>
</div>
    



<div class="chore-screen">
    <div class="member-columns" *ngIf="(members$ | async) as members">
        <ng-container *ngIf="(chores$ | async) as chores">
            <div class="columns-scroll justify-content-center">
                <app-member-column
                    *ngFor="let member of members"
                    [member]="member"
                    [chores]="getChoresForMember(member.id, chores)"
                    (choreUpdated)="loadChores()"
                    (editChoreRequested)="openEditModal($event)"
                    [connectedDropLists]="getDropListIds(members)"
                ></app-member-column>
            </div>

            <app-unassigned-chores
                [chores]="getUnassignedChores(chores)"
                (choreUpdated)="loadChores()"
                (editChoreRequested)="openEditModal($event)"
                [connectedDropLists]="getDropListIds(members)"
            ></app-unassigned-chores>

            <app-chore-modal
                *ngIf="openModal"
                [chore]="selectedChore"
                (close)="openModal = false"
            ></app-chore-modal>
        </ng-container>
    </div>
</div>


