<div class="member-column">
    <div class="member-header">
        <div class="member-name">{{ member.name }}</div>
        <div class="member-points" [style.color]="member.color">{{ member.points || 0 }}</div>
    </div>

    <div
        cdkDropList
        [id]="'dropList-' + member.id"
        [cdkDropListData]="chores"
        [cdkDropListConnectedTo]="connectedDropLists"
        (cdkDropListDropped)="onDrop($event)"
        class="member-chore-list"
    >
        <div 
            *ngFor="let chore of chores" 
            cdkDrag 
            [cdkDragData]="chore"
            (cdkDragMoved)="dragMoved.emit($event)"
            (cdkDragEnded)="dragEnded.emit()"
            class="chore-card-wrapper"
        >
            <app-chore-card 
                [chore]="chore"
                (edit)="editChore($event)"
            ></app-chore-card>
        </div>
    </div>
</div>
