.btn-outline-secondary {
    width: 100px;
    height: 40px;
}

.calendar {
  padding-top: 120px;
}

#to-do {
  padding-top: 120px;
}

.modal {
  position: absolute;
  top: 50%;
}

@media (max-width: 768px) {
  .calendar {
    padding-top: 120px;
  }
}


