<div
  class="modal"
  tabindex="-1"
  [class.show]="showTrialMessage"
  [style.display]="showTrialMessage ? 'block' : 'none'"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header" style="justify-content:end; height: 40px;">
        <button class="btn close" (click)="onClose()">x</button>
      </div> -->
      <div class="modal-body">
        <div style="text-align: right;">
          <button class="btn close" (click)="onClose()">x</button>
        </div><br>
        You have {{ trialDaysLeft }} day(s) until your trial is over.<br>
        Please subscribe to keep full features.
      </div>
    </div>
  </div>
</div>

<div class="fixed-top bg-white">
    <div class="container-fluid">
      <div class="row">
        <app-nav></app-nav>
      </div>
    </div>
  
</div>

<ng-container *ngIf="subStatus$ | async as subStatus">
  <div class="row">
    <div 
      class="calendar"
      [ngClass]="{
        'col-lg-12': subStatus === 'paid' || subStatus === 'trial',
        'col-lg-8': subStatus === 'free' || subStatus === 'expired'
      }"
    >
      <!-- view switcher -->
      <div class="btn-group mb-3" role="group" style="margin-left: 1rem;">
        <button type="button" class="btn btn-outline-secondary" (click)="switchView('month')">Month</button>
        <button type="button" class="btn btn-outline-secondary" (click)="switchView('week')">Week</button>
        <button type="button" class="btn btn-outline-secondary" (click)="switchView('day')">Day</button>
      </div>
      <!-- Calendar View -->
      <app-month-view
        *ngIf="currentView() === 'month'"
        [selectedDate]="selectedDate()"
        [events]="calendarEvents()"
        [familyMembers]="familyMembers()"
        (dateClicked)="handleDateClick($event, currentView())"
        (editClicked)="handleDetailClick($event)"
        (dateChanged)="selectedDate.set($event)"  
      ></app-month-view>
      <app-week-view
        *ngIf="currentView() === 'week'"
        [selectedDate]="selectedDate()"
        [events]="calendarEvents()"
        [familyMembers]="familyMembers()"
        (dateClicked)="handleDateClick($event, currentView())"
        (editClicked)="handleEventEdit($event)"
        (dateChanged)="selectedDate.set($event)" 
      ></app-week-view>
      <app-day-view
        *ngIf="currentView() === 'day'"
        [selectedDate]="selectedDate()"
        [events]="calendarEvents()"
        [familyMembers]="familyMembers()"
        (dateClicked)="handleDateClick($event, currentView())"
        (editClicked)="handleEventEdit($event)"
        (dateChanged)="selectedDate.set($event)" 
      ></app-day-view>
    </div>
    <div id="to-do" class="col-lg-4" *ngIf="subStatus === 'free' || subStatus === 'expired'">
      <app-to-do></app-to-do>
    </div>

  </div>
</ng-container>

<div 
  *ngIf="showDetailModal()"
  class="modal-overlay"
  (click)="showDetailModal.set(false)"
>
  
    <div class="modal-dialog" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <div class="modal-header">
          <h5>{{ editingEvent()?.title }}</h5>
          <button (click)="showDetailModal.set(false)" class="btn-close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Who's Doing It:</strong> {{ getMemberName(editingEvent()!.uid)  }}</p>
          <p><strong>Start Time: </strong> <span *ngIf="editingEvent()?.startTime">{{ formatTime(editingEvent()?.startTime || '') }}</span></p>
          
          <p><strong>End Time: </strong> <span *ngIf="editingEvent()?.endTime">{{ formatTime(editingEvent()!.endTime || '') }}</span></p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-secondary" (click)="handleEventEdit(editingEvent()!)" (click)="deleteModalClose()">Edit</button>
        </div>
      </div>
    </div>
  
</div>


<!-- event modal -->
<app-calendar-event-modal
    [show]="showEventModal()"
    [selectedDate]="selectedDate()"
    [familyMembers]="familyMembers()"
    [editingEvent]="editingEvent()"
    (save)="saveEvent($event)"
    (delete)="deleteEvent($event)"
    (close)="showEventModal.set(false)"
></app-calendar-event-modal>