<div class="tab-container">
    
    <div 
        class="tab"
        style="background: rgba(255, 0, 0, 0.25);"
    >
        <button class="button" (click)="logout()">Logout</button>
    </div>

    <div
        class="tab"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        <button class="button" routerLink="/home">Calendar</button>
    </div>

    <div class="tab" routerLinkActive="active">
        <button class="button" routerLink="/chore">Chores</button>
    </div>

    <div class="tab" routerLinkActive="active">
        <button class="button" routerLink="/meal-planner" >Meal Prep</button>
    </div>

    <div class="tab" routerLinkActive="active">
        <button class="button" routerLink="/shopping">Groceries</button>
    </div>
</div>

<div class="tab-content"></div>

