.tab-container {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    gap: 0.5rem;
    margin-bottom: -1px; /* So tab connects to tab-content smoothly */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.tab-container::-webkit-scrollbar {
    display: none;
}

.tab {
    padding: 0.5rem 1.2rem;
    background: none;
    border: 2px solid #eee;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 1;
    transition: background 0.3s ease;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.button {
    border: none;
    background: none;
    color: black;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

.tab.active {
    background: white;
    border: 2px solid #eee;
}

.tab.active .button {
    background: white;
}

.tab-content {
    background: white;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: 0;
    border-top: 2px solid #eee;
}

.tab.active::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 10px;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: -1;
    bottom: -10px;
}

@media (max-width: 767px) {
    .tab-container {
        overflow-x: auto;
        width: 100%;
    }
    .tab {
        min-width: 120px;
        width: max-content;
    }

}
