<div class="modal-backdrop">
  <div class="modal-content-wrapper">
    <div class="modal-header">
      <h5 class="modal-title">{{ formRecipe.id ? 'Edit Recipe' : 'Add Recipe' }}</h5>
      <button type="button" class="btn-close" (click)="onClose()">×</button>
    </div>

    <div class="modal-body">
      <div class="mb-3">
        <label for="recipeTitle" class="form-label">Title</label>
        <input id="recipeTitle" class="form-control" [(ngModel)]="formRecipe.title" />
      </div>

      <div class="ingredients mb-3">
        <label for="ingredients" class="form-label">Ingredients</label>
        <div *ngFor="let ingredient of formRecipe.ingredients || []; let i = index; trackBy: trackByIndex" class="d-flex mb-2 align-items-center">
            <input id="ingredients" class="form-control" [(ngModel)]="formRecipe.ingredients[i]" />
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeIngredient(i)">🗑️</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToShoppingList(ingredient)">🛒</button>
        </div>
      </div>
      <button class="btn btn-sm btn-outline-primary" type="button" (click)="addIngredient()">Add Ingredient</button>

      <div class="mb-3">
        <label for="directions" class="form-label">Instructions</label>
        <textarea id="directions" class="form-control" [(ngModel)]="formRecipe.directions" rows="6"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="onClose()">Cancel</button>
      <button class="btn btn-primary" (click)="save()">
        {{ formRecipe.id ? 'Update Recipe' : 'Add Recipe' }}
      </button>
      <button *ngIf="formRecipe.id" class="btn btn-danger me-auto" (click)="deleteRecipe()">Delete</button>
    </div>
  </div>
</div>
