.chore-screen {
    display: block;
    overflow-x: auto;
    padding: 1rem;
}

.columns-scroll-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.columns-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    min-width: max-content;
}

.columns-scroll-wrapper::-webkit-scrollbar {
    display: none;
    height: 0px !important;
    width: 0px !important;
    background: transparent !important;
}