<div class="row fixed-top">
    <app-nav></app-nav>
</div>
<div id="button-container" class="button-container" style="text-align: center;">
    <button class="btn btn-outline-secondary" (click)="openModal = true; selectedChore = null" style="margin-right: 5px;">Add Chore</button>
    <button class="btn btn-outline-secondary" style="margin-right: 5px;" routerLink="/annual-chore">Annual Chores</button>
    <button class="btn btn-outline-secondary" style="margin-right: 5px;" routerLink="/rewards">Rewards</button>
</div>

    

<div class="chore-screen">
    <div class="member-columns" *ngIf="(filteredMembers$ | async) as members">
        <ng-container *ngIf="(chores$ | async) as chores">
            <div class="columns-scroll-wrapper">
                <div class="columns-scroll">
                    <app-member-column
                        *ngFor="let member of members"
                        [member]="member"
                        [style.color]="member.color"
                        [chores]="getChoresForMember(member.id, chores)"
                        (choreUpdated)="loadChores()"
                        (editChoreRequested)="openEditModal($event)"
                        [connectedDropLists]="getDropListIds(members)"
                        (dragMoved)="onChoreDragMoved($event)"
                        (dragEnded)="stopScrolling()"
                    ></app-member-column>
                </div>
            </div>
            
            <app-unassigned-chores
                [chores]="getUnassignedChores(chores)"
                (choreUpdated)="loadChores()"
                (editChoreRequested)="openEditModal($event)"
                [connectedDropLists]="getDropListIds(members)"
                (dragMoved)="onChoreDragMoved($event)"
                (dragEnded)="stopScrolling()"
            ></app-unassigned-chores>

            <app-chore-modal
                *ngIf="openModal"
                [chore]="selectedChore"
                (close)="openModal = false"
            ></app-chore-modal>
        </ng-container>
    </div>
</div>


