.btn-outline-secondary {
    color: #6C5A78;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 
        -2px -2px 5px #F3E8FF,
        2px 2px 5px #C9F2E3;
}

#nav-container {
  margin-left: 20px;
}

.day-scroll-container {
  overflow-x: auto;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.day-scroll-container::-webkit-scrollbar {
    display: none;
}

.header {
    display: grid;
    grid-auto-rows: 60px;
    position: relative;
    text-align: center;
    font-weight: bold;
    align-items: center;
}

.day-grid {
  position: relative;
  display: grid;
  grid-template-rows: repeate(15, 52px);
  gap: 8px;
}

.member-cell {
  position: relative;
  height: 52px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 
      -2px -2px 5px #F3E8FF,
      2px 2px 5px #C9F2E3;
}

.time-column {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  text-align: right;
  padding: 0.25em;
}

.event-block {
  position: absolute;
  left: 4px;
  right: 4px;
  border-radius: 10px;
  padding: 2px 4px;
  font-size: 0.75rem;
  color: white;
  z-index: 2;
}



