<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3" id="nav-container">
    <h4 class="mb-0">{{  this.selectedDate | date: 'EEE, MMMM d' }}</h4>
    <div class="btn-group">
        <div class="btn btn-outline-secondary" (click)="goToPreviousDay()">&lt;</div>
        <div class="btn btn-outline-secondary" (click)="goToToday()">Jump to Today</div>
        <div class="btn btn-outline-secondary" (click)="goToNextDay()">&gt;</div>
    </div>
    </div>
</div>


<div class="container-fluid day-scroll-container">
    <!-- member header -->
    <div class="header" [style.gridTemplateColumns]="columnCount">
        <div class="time-column"></div>
        <div *ngFor="let member of getFamilyColumns()" class="member-header">
            {{ member.name }}
        </div>
    </div>

    <!-- all day row -->
    <div class="all-day-row" [style.gridTemplateColumns]="columnCount">
        <div class="time-column">All Day</div>
        <div class="all-day-cell" *ngFor="let member of getFamilyColumns()" (click)="onAllDayClick(member.id)">
            <div
                *ngFor="let event of getAllDayEventsForUser(member.id)"
                class="event-block all-day"
                [style.backgroundColor]="getColorForUid(member.id)"
                [style.height.px]="getEventDuration(event) * 60"
                (click)="onEventClick(event, $event)"
            >
                {{ event.title }}
            </div>

        </div>
    </div>

    <!-- Hour Rows -->
    <div class="day-row" *ngFor="let hour of hours" [style.gridTemplateColumns]="columnCount">
        <div class="time-column">
            {{ formatHour(hour) }}
        </div>

        <div
            *ngFor="let member of getFamilyColumns()"
            class="member-cell"
            (click)="onCellClick(member.id, hour)"
        >
            <div
                *ngFor="let event of getEventsForUser(member.id, hour)"
                class="event-block"
                [style.backgroundColor]="getColorForUid(member.id)"
                [style.height.px]="getEventDuration(event) * 60"
                (click)="onEventClick(event, $event)"
            >
                <span *ngIf="!event.isAllDay && event.startTime">{{ formatTime(event.startTime) }}</span>
                {{event.title}}
            </div>
        </div>
    </div>
</div>