<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3" id="nav-container">
    <h4 class="mb-0">{{  this.selectedDate | date: 'EEE, MMMM d' }}</h4>
    <div class="btn-group">
        <div class="btn btn-outline-secondary" (click)="goToPreviousDay()">&lt;</div>
        <div class="btn btn-outline-secondary" (click)="goToToday()">Jump to Today</div>
        <div class="btn btn-outline-secondary" (click)="goToNextDay()">&gt;</div>
    </div>
    </div>
</div>


<div class="container-fluid day-scroll-container">
  <!-- Family Header Row -->
    <div class="header" 
        [style.gridTemplateColumns]="columnCount"
    >
        <div class="time-column"></div>
        <div 
            *ngFor="let member of getFamilyColumns()" 
            class="member-header"
            [style.color]="getColorForUid(member.id)"
        >
            {{ member.name }}
        </div>
    </div>

  <!-- Hour Grid -->
  <div class="day-grid" [style.gridTemplateColumns]="columnCount">
    <!-- Time Labels (down the side) -->
    <ng-container *ngFor="let hour of hours">
        <div class="time-column">{{ formatHour(hour) }}</div>
        <ng-container *ngFor="let member of getFamilyColumns()">
            <div class="member-cell" (click)="onCellClick(member.id, hour)">
                <ng-container *ngIf="hour === 6">
                    <ng-container *ngFor="let event of getAllDayEventsForUser(member.id)">
                        <div
                            class="event-block all-day"
                            [style.backgroundColor]="getColorForUid(event.uid)"
                            [style.height.px]="getEventDuration(event) * 60"
                            (click)="onEventClick(event, $event)"
                        >
                            {{  event.title }}
                        </div>
                    </ng-container>

                    <ng-container *ngFor="let event of getEventsForUser(member.id)">
                        <div
                            class="event-block"
                            [style.backgroundColor]="getColorForUid(event.uid)"
                            [style.top.px]="getEventOffset(event)"
                            [style.height.px]="getEventDuration(event) * 60"
                            (click)="onEventClick(event, $event)"
                        >
                            <span *ngIf="event.startTime">{{ formatTime(event.startTime) }}: </span>{{ event.title }}
                        </div>
                    </ng-container>
                </ng-container>

                
            </div>
        </ng-container>
    </ng-container>

  </div>
</div>


